# <h1>Admin::Dashboard#show</h1>
# <p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h1>Dashboard</h1>
<div class= "alert alert-info">
<p> Number of products:  <%= @product_count %></p>
<p> Number of categories:  <%= @category_count %></p>
</div>
